$c--text_primary: rgb(31, 37, 51);
$c--text_secondary: rgb(112, 115, 124);
$c--accent: rgb(53, 151, 64);
$c--first_bg: rgb(234, 241, 235);
$c--second_bg: rgb(239, 242, 248);
$c--white: rgb(255, 255, 255);
$c--border: rgb(239, 239, 239);
